.headerProfile {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 50px;
  margin-left: 68px;
}

.topRow {
  display: flex;
  align-items: center;
  gap: 20px;
}

.editBtn {
  max-width: 169px;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  border: none;
  border-radius: 8px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
  font-style: "SemiBold";
  line-height: 16px;
  color: #000;
  cursor: pointer;
}
