.statsProfile {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.statsProfile p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-style: "Regular";
  color: #000000;
}
