.searchPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 20px;
  border: none;
  border-top-right-radius: 16px;
}

.searchTitle {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  font-style: "Semibold";
  color: #000;
}

.searchInput {
  max-width: 280px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #efefef;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto";
  font-style: "Light";
}

.recentBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recentTitle {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto";
  font-style: "Light";
  line-height: 20px;
  color: #000;
}
