.postCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  border-bottom: 1px solid#dbdbdb;
}

.cardHeader {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.cardImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.iconsForm {
  height: 34.45px;
  display: flex;
  gap: 15px;
  justify-content: start;
  align-items: center;
}

.mesBtn {
  max-width: 17.22px;
  border: none;
  background-color: #fff;
}

.cardA {
  font-family: "Roboto";
  font-size: 12.06px;
  font-weight: 400;
  font-style: "Regular";
  color: #737373;
  text-decoration: none;
}
