.editProfile {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  gap: 20px;
}

.editProfileTitle {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-style: "Bold";
  color: #000;
}

.avatarSection {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  align-items: center;
  gap: 20px;
}

.avatarInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.avatarName {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-style: "Bold";
  color: #000;
}

.avatarAbout {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-style: "Regular";
  color: #737373;
}

.newPhotoBtn {
  max-width: 114px;
  height: 32px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  background-color: #0095f6;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  font-style: "Medium";
  border-radius: 8px;
  cursor: pointer;
}

.labelEditProfile {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-style: "Bold";
  color: #000;
  margin-top: 12px;
}

.inputEditProfile {
  max-width: 610px;
  width: 100%;
  height: 42px;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  font-style: "Regular";
}

.saveBtn {
  max-width: 268px;
  height: 32px;
  background-color: #0095f6;
  border: none;
  border-radius: 8px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  font-style: "SemiBold";
  color: #ffffff;
  cursor: pointer;
}
