.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  max-width: 913px;
  width: 100%;
  height: 616px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: none;
  border-radius: 12px;
}

.addPostContent {
  display: flex;
}

.addPostHeader {
  width: 100%;
  height: 43px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border: none;
  border-bottom: 1px solid #dbdbdb;
}

.addPostTitle {
  margin-left: 200px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-style: "Semibold";
  color: #000;
}

.shareButton {
  text-align: center;
  background-color: #fff;
  border: none;
  color: #0095f6;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  font-style: "Semibold";
  cursor: pointer;
}

.imageUpload {
  max-width: 573px;
  height: 570px;
  width: 100%;
  border: none;
  border-right: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cloudIcon {
  width: 153px;
}

.imageUpload img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 12px;
}

.previewImage {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.placeholder {
  .cloudIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.textFields {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.textFields span {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  font-style: "Regular";
  color: #000;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.createTitle {
  width: 95%;
  height: 240px;
  border: none;
}

.description {
  width: 98%;
  height: 240px;
  border: none;
  border-top: 1px solid #dbdbdb;
}
