.errorPage {
  max-width: 1440px;
  width: 100%;
}

.container {
  max-width: 1195px;
  max-width: 100%;
}

.backImag {
  max-width: 301.03px;
  width: 100%;
  height: 460px;
  margin-left: 119px;
  margin-top: 94px;
}

.errorText {
  display: flex;
  flex-direction: column;
}

.errorH2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 20px;
}

.errorP {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
