.active {
  color: var(--accent-color);
  font-weight: 600;
}

.footer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  margin-bottom: 0px;
}

.footerLink {
  justify-content: center;
  gap: 30px;
}

.footerLink link {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-style: "Regular";
  color: #737373;
}

.footerA {
  margin-left: 682px;
  margin-bottom: 81px;
}

.footerA a {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-style: "Regular";
  color: #737373;
}
