.footer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* центрируем всё */
  gap: 20px; /* расстояние между ссылками и иконкой */
  padding: 20px 0;
}

.footerLink {
  display: flex;
  justify-content: center; /* центрируем ссылки */
  gap: 50px; /* равные промежутки */
}

.footerLink a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-style: "Regular";
  color: #737373;
  text-decoration: none;
}

.footerA {
  display: flex;
  justify-content: center;
}

.footerA img {
  width: 98px;
  height: 14px;
}
