.resetForm {
  max-width: 390px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 0 auto;
}

.resetImage {
  max-width: 96px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.resetTitle {
  font-size: 16px;
  font-weight: 600;
  font-style: "Regular";
  line-height: 20px;
  font-family: Roboto;
  color: #000;
  margin-bottom: 12px;
}

.resetPar {
  font-size: 14px;
  font-weight: 400;
  font-style: "Regular";
  line-height: 18px;
  color: #737373;
  text-align: center;
  margin-bottom: 20px;
}

.formInput {
  max-width: 300px;
  width: 100%;
  height: 40px;
  margin-bottom: 12px;
  padding-left: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  background-color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  font-style: "Regular";
  line-height: 18px;
  color: #c7c7c7;
  cursor: pointer;
}

.resetButton {
  max-width: 300px;
  width: 100%;
  height: 32px;
  margin-top: 8px;
  background-color: #0095f6;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  font-style: "SemiBold";
  color: #ffffff;
  cursor: pointer;
}

.resetFieldset {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-top: 20px;
  border: none;
  border-top: 1px solid #dbdbdb;
  text-align: center;
}

.resetP {
  font-size: 14px;
  font-weight: 600;
  font-style: "SemiBold";
  line-height: 18px;
  color: #262626;
  margin-top: 20px;
}

.backToLogin {
  max-width: 470px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  text-align: center;
  text-justify: center;
}

.backToLogin a {
  font-size: 14px;
  font-weight: 400;
  font-style: "Regular";
  line-height: 18px;
  color: #262626;
  text-decoration: none;
}
