.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainArea {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px; /* или сколько нужно */
  border-right: 1px solid #ddd;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.footer {
  border-top: 1px solid #ddd;
  padding: 10px 20px;
}
